<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mobdeve.s13.group2.financify">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Financify">
        <activity android:name=".pin.RegisterPINActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".pin.PinActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".summary.SummaryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SettingsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BaseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".cashflow.CashflowUpdateEntryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".cashflow.CashflowAddEntryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".cashflow.CashflowUpdateAccountActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".cashflow.CashflowAddAccountActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".cashflow.CashflowAccountActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".cashflow.CashflowHomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".reminders.SeeReminderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".reminders.AddRemindersActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".reminders.RemindersActivity"
            android:screenOrientation="portrait" />

        <receiver
            android:name=".reminders.ReminderBroadcast"
            android:exported="true" />

        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>