<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mobdeve.s13.group2.financify">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Financify">
        <activity android:name=".summary.SummaryActivity" />
        <activity android:name=".SettingsActivity" />
        <activity android:name=".BaseActivity" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".cashflow.CashflowUpdateEntryActivity" />
        <activity android:name=".cashflow.CashflowAddEntryActivity" />
        <activity android:name=".cashflow.CashflowUpdateAccountActivity" />
        <activity android:name=".cashflow.CashflowAddAccountActivity" />
        <activity android:name=".cashflow.CashflowAccountActivity" />
        <activity android:name=".cashflow.CashflowHomeActivity" />
        <activity android:name=".reminders.SeeReminderActivity" />
        <activity android:name=".reminders.AddRemindersActivity" />
        <activity android:name=".reminders.RemindersActivity" />
        <receiver android:exported="true" android:name=".reminders.ReminderBroadcast" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>
